// Create your own color map
$custom-colors: (
        "custom": $custom,
);

// Merge the color maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$colors : map-merge($colors, $custom-colors);


// Create your own spacer map
$custom-spacers: (
        6: $spacer * 5,

);

// Merge the color maps
$spacers: map-merge($spacers, $custom-spacers);



