
//font
$font-family-base:lato;
//background
$component-active-bg:#ef8143;

//color overrides
//$primary:purple;
$custom:gold;


// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: true;
$enable-gradients: true;

// Changing the body background and text
$body-bg: #d3e9eb;
$body-color: #151417;

// Changing the border radius of buttons
$border-radius: 15px;

// Changing the theme colors
$primary: #202f41;
$secondary: #436296;
$success: #2bc550;
$info: #495dff;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #0f1319;



